DB_SERVER=yantra-server.database.windows.net
DB_PORT=1433
DB_NAME=yantra-database
DB_USER=yantra
DB_PASSWORD=change-me
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=no
